max-content-width = 1000px
header-overflow-width = 520px
nav-overflow-width = 460px
header-fill-1-3-page-height = 600px

body-bg-gray = #F8F8F8
a-blue = #298CCA
section-heading-gray = #414141
section-text-gray = #444
deeper-bg-gray = #E0E0E0
lighter-bg-gray = #F1F1F1

deeper-strip = #E8E8E8
lighter-strip = #F0F0F0