@require 'mixins'
@require 'consts'


// General settings
// Well, not that general

body
  font 12px Helvetica, Arial, sans-serif
  // Gray color around #main makes it easier for me to focus
  // Borrowed from last year's page
  background-color body-bg-gray

ul
  // Remove dots from nav & professors list
  list-style-type none

ol
  // This is for removing indent of lists of transportation methods
  list-style-position inside
  padding 0

section
  // Gray color is good.
  & h2
    color section-heading-gray
  // Larger font for texts
  & p,table,ul,ol
    font-size 1.3em
    color section-text-gray
  // Seperators between sections
  &:not(:last-child):after
    content ''
    display block
    border 1px solid deeper-bg-gray
    margin 10px 0

#header
  top-level-containers()
  background-color deeper-bg-gray
  & h1, h2, h3
    text-align center
  & h1
    padding-top 20px
  & h2, h3
    line-height 80%
  & h3
    margin-bottom 0
    padding-bottom 15px

nav
  font-size 1.5em

  width inherit

  background-color inherit
  opacity 1
  // I found that absolute position + padding-top in the next container
  // is best for sticky nav
  position absolute
  // Larger gap between links
  & a
    &:first-child
      margin-left 60px
    display inline-block
    padding 7px 15px
    color a-blue
    text-decoration none
    &:visited
      text-decoration none
    &.current
      background-color white
  &.fixed
    top 0
    position fixed

#main
  top-level-containers(60px)
  background-color white
  & > section
    padding-top 30px