@require 'mixins'


// General settings
// Well, not that general

body
  font 12px Helvetica, Arial, sans-serif
  // Gray color around #main makes it easier for me to focus
  // Borrowed from last year's page
  background-color #F8F8F8

ul
  // Remove dots from nav & professors list
  list-style-type none

ol
  // This is for removing indent of lists of transportation methods
  list-style-position inside
  padding 0

nav
  padding 10px 0
  font-size 1.5em
  width inherit
  // Larger gap between links
  opacity 1
  background-color #FFF
  & a
    display inline-block
    padding-right 20px
    color #298CCA
    text-decoration none
    &:visited
      text-decoration none
  &.fixed
    top 0
    position fixed

section
  // Gray color is good.
  & h2
    color #414141
  // Larger font for texts
  & p,table,ul,ol
    font-size 1.3em
    color #444
  // Seperators between sections
  &:not(:last-child):after
    content ''
    display block
    border 1px solid #E8E8E8
    margin 10px 0

#home
  top-level-containers()
  content ''
  display block
  height 130px
  background-color #E8E8E8
  & h1, h2, h3
    text-align center
  & h1
    padding-top 20px
  & h2, h3
    line-height 80%

#main
  top-level-containers(60px)
  padding-up 30px
  background-color #FFF
  & > section h2
    margin-top 0