pad-lr-containers(total, pad-lr = 0)
  // Large margins and paddings makes it easier for me to focus
  // Borrowed from last year's page
  margin-left auto
  margin-right auto
  padding-left pad-lr
  padding-right pad-lr
  width total - pad-lr * 2
  @media (max-width: total)
    width auto
    padding-left (pad-lr/total * 100)%
    padding-right (pad-lr/total * 100)%

pad-lr-sticky-containers(total, pad-lr = 0)
  // I found that absolute position + padding-top in the next container
  // is best for sticky nav
  position absolute
  // Large margins and paddings makes it easier for me to focus
  // Borrowed from last year's page
  margin-left (-(total/2)px)
  margin-right auto
  left 50%
  padding-left pad-lr
  padding-right pad-lr
  width total - pad-lr * 2
  &.fixed
    top 0
    position fixed
  @media (max-width: total)
    left unset
    margin-left unset
    width auto
    padding-left (pad-lr/total * 100)%
    padding-right (pad-lr/total * 100)%