h2 Speakers:
ul
  li
    strong Dr.&#32;
      a(href='https://www.apnic.net/about-APNIC/organization/structure/apnic-executive-council/ec-members/ma-yan') Yan Ma
    |  -&#32;
    em Professor,
    |  Beijing University of Posts and Telecommunications
  li
    strong Dr.&#32;
      a(href='http://sse.tongji.edu.cn/wrao/') Weixiong Rao
    |  -&#32;
    em Professor,
    |  Tongji University, previously Cambridge University
  li
    strong Dr.&#32;
      a(href='http://haroldliu.weebly.com/') Harold Liu
    |  -&#32;
    em Professor,
    |  Beijing Institute of Technology, previously Imperial College London
  li
    strong Dr.&#32;
      a(href='http://www.tsinghua.edu.cn/publish/csen/4623/2010/20101223231342918741150/20101223231342918741150_.html') Yong Cui
    |  -&#32;
    em Associate Professor,
    |  Tsinghua University
  li
    strong Dr.&#32;
      a(href='http://www.cs.cmu.edu/~chenren/') Chenren Xu
    |  -&#32;
    em Tenure track assistant professor,
    |  Peking University, previously CMU
  li
    strong Dr.&#32;
      a(href='https://www.linkedin.com/pub/hui-deng/1/b54/82b') Hui Deng
    |  -&#32;
    em China Mobile

h2 Helsinki and HKUST Participants
ul
  li
    strong
      a(href='http://www.cs.helsinki.fi/u/starkoma/') Sasu Tarkoma
  li
    strong Da Yong
  li
    strong Markku Kojo
  li
    strong Matti Siekkinen 
  li
    strong Eemil Lagerspetz
  li
    strong Zhonghong Ou
  li
    strong Kai Zhao
  li
    strong
      a(href='http://www.cs.helsinki.fi/u/yding/') Aaron Yi Ding