h1.date Thursday, September 17<sup>th</sup>

table
  tr
    td 9:30-10:30
    td
      span
        strong Opening
        |  by Prof. Depeng Jin and Workshop Chair Yong Li
      span
        strong Talk
        |  by Workshop Chair Sasu Tarkoma
  tr
    td(colspan=2) Session Chair: Yong Li
  tr
    td 10:30-11:00
    td
      span.title GPerf: A Global Performance Measurement Framework for Network Troubleshooting
      span Yan Ma
      span.title NetWatch: Measurement As A Service for Cloud
      span Jiaqiang Liu
  tr
    td 12:00-13:30
    td Lunch Break
  tr
    td(colspan=2) Session Chair: Sasu Tarkoma
  tr
    td 13:30-15:00  
    td
      span.title TIC (Telecom Integrated Cloud): The Platform for Next Generation Communication
      span Hui Deng
      span.title Optimizing Network Updates for Software-Defined NFV Systems
      span Yujie Liu
      span.title Recent Progress of Designing A Scalable and Robust Control Plane in SDN
      span Sharoran Xiao
  tr
    td 15:00-15:30
    td Coffee Break
  tr
    td(colspan=2) Session Chair: Zhonghong Ou
  tr
    td 15:30-17:00
    td
      span.title Octopus: A Unified Computation Engine for Big Data Analytics
      span Weixiong Rao
      span.title Crowdsourced Data-analysis for Smartphone Energy: Applications and System Settings
      span Eemil Lagerspetz
      span.title Crowdsourced Smartphone Energy Debugging: Applications and Settings
      span Huandong Wang
  tr
    td 19:00-21:00
    td Welcome Reception

h1.date Friday, September 18<sup>th</sup>

table
  tr
    td(colspan=2) Session Chair: Aaron Yi Ding
  tr
    td 9:30-10:30
    td
      span.title Recent Development in the Internet Congestion Control
      span Markku Kojo
      span.title Experiences and lessons learnt in developing SDN applications
      span Fan Xie
  tr
    td 10:30- 11:00
    td Coffee Break
  tr
    td(colspan=2) Session Chair: Eemil Lagerspetz
  tr
    td 11:00- 12:00  
    td
      span.title Mobile Cloud Storage-Architecture and Challenge
      span Yong Cui
      span.title SoftOffload: An Open-sourced Platform for Augmenting WiFi Offloading
      span Aaron Yi Ding
  tr
    td 12:00-13:30
    td Lunch Break

  tr
    td(colspan=2) Session Chair: Weixiong Rao
  
  tr
    td 13:30-15:00 
    td
      span.title Participatory Sensing: to Ensure Optimal Participant Selections
      span Harold Liu
      span.title Vision-based Positioning Systems
      span Zhonghong Ou
      span.title Time-Dependent Pricing for Large-scale Mobile Networks of Urban Environment: Feasibility and Adaptability
      span Jingtao Ding

  tr
    td 15:00-15:30
    td Coffee Break

  tr
    td(colspan=2) Session Chair: Markku Kojo

  tr
    td 15:30-17:00
    td
      span.title mmWave Communications in 5G
      span Wei Feng
      span.title A Cross-Layer Design for Software Defined Millimeter-Wave Mobile Broadband System
      span Yong Niu
      span.title Cache Behavior Characterization and Validation over Large-scale Video Data
      span Huan Yan

h1.date Saturday, September 19<sup>th</sup>

table
  tr
    td(colspan=2) Session Chair: Pan Hui

  tr
    td 9:30-10:30 
    td
      span.title Improving Vehicular Content Delivery through Accurate Pre-Staging in eXpressive Internet Architecture
      span Chenren Xu
      span.title D2D Communication: Recent Progress and the Trends
      span Waqas

  tr
    td 10:30- 11:00
    td Coffee Break

  tr
    td(colspan=2) Session Chair: Jiaqiang Liu

  tr
    td 11:00- 12:30
    td
      span
        strong Talk
        |  by Workshop Chair Pan Hui
      span.title Understanding Human Mobility for Network Applications
      span Kai Zhao
      span.title Understanding Human Mobility in Large-scale Urban Environments
      span Fengli Xu

  tr
    td 12:30-14:00
    td Lunch Break

  tr
    td 14:00-16:00
    td
      strong Group Discussion and Tsinghua Lab Visit

  tr
    td 16:00
    td Closing 