h1.date Thursday, September 17<sup>th</sup>

table
  tr
    td 9:30-10:30
    td
      span.title-speaker
        strong Opening
        |  by
        em  Prof. Depeng Jin
        |  and Workshop Chair
        em  Yong Li
        |  , Tsinghua
      span.title-speaker
        strong Talk
        |  by Workshop Chair
        em  Sasu Tarkoma
        |  , U. Helsinki
  tr
    td(colspan=2) Session Chair: Yong Li
  tr
    td 10:30-11:00
    td
      span.title GPerf: A Global Performance Measurement Framework for Network Troubleshooting
      span
        em  Yan Ma
        |  , BUPT
      span.title NetWatch: Measurement As A Service for Cloud
      span
        em Jiaqiang Liu
        |  , Tsinghua
  tr
    td 12:00-13:30
    td Lunch Break
  tr
    td(colspan=2) Session Chair: Sasu Tarkoma
  tr
    td 13:30-15:00  
    td
      span.title TIC (Telecom Integrated Cloud): The Platform for Next Generation Communication
      span
        em Hui Deng
        |  , China Mobile
      span.title Optimizing Network Updates for Software-Defined NFV Systems
      span
        em Yujie Liu
        |  , Tsinghua
      span.title Recent Progress of Designing A Scalable and Robust Control Plane in SDN
      span
        em Shaoran Xiao
        |  , Tsinghua
  tr
    td 15:00-15:30
    td Coffee Break
  tr
    td(colspan=2) Session Chair: Zhonghong Ou
  tr
    td 15:30-17:00
    td
      span.title Octopus: A Unified Computation Engine for Big Data Analytics
      span
        em Weixiong Rao
        |  , Tongji U.
      span.title Crowdsourced Data-analysis for Smartphone Energy: Applications and System Settings
      span
        em Eemil Lagerspetz
        |  , U. Helsinki
      span.title Crowdsourced Smartphone Energy Debugging: Applications and Settings
      span
        em Huandong Wang
        |  , Tsinghua
  tr
    td 19:00-21:00
    td Welcome Reception

h1.date Friday, September 18<sup>th</sup>

table
  tr
    td(colspan=2) Session Chair: Aaron Yi Ding
  tr
    td 9:30-10:30
    td
      span.title Recent Development in the Internet Congestion Control
      span
        em Markku Kojo
        |  , U. Helsinki
      span.title Experiences and lessons learnt in developing SDN applications
      span
        em Fan Xie
        |  , Tsinghua
  tr
    td 10:30- 11:00
    td Coffee Break
  tr
    td(colspan=2) Session Chair: Eemil Lagerspetz
  tr
    td 11:00- 12:00  
    td
      span.title Mobile Cloud Storage-Architecture and Challenge
      span
        em Yong Cui
        |  , Tsinghua
      span.title SoftOffload: An Open-sourced Platform for Augmenting WiFi Offloading
      span
        em Aaron Yi Ding
        |  , U. Helsinki
  tr
    td 12:00-13:30
    td Lunch Break

  tr
    td(colspan=2) Session Chair: Weixiong Rao
  
  tr
    td 13:30-15:00 
    td
      span.title Participatory Sensing: to Ensure Optimal Participant Selections
      span
        em Harold Liu
        |  , BIT
      span.title Vision-based Positioning Systems
      span
        em Zhonghong Ou
        |  , Aalto
      span.title Time-Dependent Pricing for Large-scale Mobile Networks of Urban Environment: Feasibility and Adaptability
      span
        em Jingtao Ding
        |  , Tsinghua

  tr
    td 15:00-15:30
    td Coffee Break

  tr
    td(colspan=2) Session Chair: Markku Kojo

  tr
    td 15:30-17:00
    td
      span.title mmWave Communications in 5G
      span
        em Wei Feng
        |  , Tsinghua
      span.title A Cross-Layer Design for Software Defined Millimeter-Wave Mobile Broadband System
      span
        em Yong Niu
        |  , Tsinghua
      span.title Cache Behavior Characterization and Validation over Large-scale Video Data
      span
        em Huan Yan
        |  , Tsinghua

h1.date Saturday, September 19<sup>th</sup>

table
  tr
    td(colspan=2) Session Chair: Pan Hui

  tr
    td 9:30-10:30 
    td
      span.title Improving Vehicular Content Delivery through Accurate Pre-Staging in eXpressive Internet Architecture
      span
        em Chenren Xu
        |  , Peking U.
      span.title D2D Communication: Recent Progress and the Trends
      span
        em Waqas
        |  , Tsinghua

  tr
    td 10:30- 11:00
    td Coffee Break

  tr
    td(colspan=2) Session Chair: Jiaqiang Liu

  tr
    td 11:00- 12:30
    td
      span.title-speaker
        strong Talk
        |  by Workshop Chair
        em  Pan Hui
        |  , HKUST
      span.title Understanding Human Mobility for Network Applications
      span
        em Kai Zhao
        |  , U. Helsinki
      span.title Understanding Human Mobility in Large-scale Urban Environments
      span
        em Fengli Xu
        |  , Tsinghua

  tr
    td 12:30-14:00
    td Lunch Break

  tr
    td 14:00-16:00
    td
      strong Group Discussion and Tsinghua Lab Visit

  tr
    td 16:00
    td Closing 