doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Cloud Mobile Computing Workshop 2015
    link(rel='stylesheet',href='main.css')
    script(type='text/javascript', src='main.js')
  body
    #home
      h1 Cloud Mobile Computing Workshop 2015
      h2 on Cloud and Mobile Computing
      h3 Helsinki, HKUST & Tsinghua
    #main.pure-g
      .pure-u-1-5
        nav
          ul
            li
              a(href='#home') Home
            li
              a(href='#program') Program
            li
              a(href='#committee') Committee
            li
              a(href='#venue') Venue

      .pure-u-4-5
        section
          h2 Beijing, 20 - 22 August, 2015.

          p The 2st Helsinki-HKUST-Tsinghua workshop on cloud and mobile computing is a three-day workshop jointly organized by the University of Helsinki, Hong Kong University of Science and Technology, and Tsinghua University.
          p The workshop is intended to bring together professors, researchers and students to share ideas, experience and implementations related to cloud and mobile computing, including SDN, augmented reality (AR), urban computing, big data analysis, mobile offloading and 5G networks.

        section#program
          table
            caption Program
            thead
              tr
                th(scope='col') Date & Time
                th(scope='col') Speech
            tbody
              tr
                th(scope='row') 12:30
                td Today is a good day!

        section#committee
          h2 General Chairs:
          ul
            li Prof. Sasu Tarkoma - University of Helsinki
            li Prof. Pan Hui - HKUST
            li Prof. Yong Li - Tsinghua University

          h2 Organizing Chairs:
          ul
            li Aaron Yi Ding - University of Helsinki
            li Kai Zhao - University of Helsinki

          h2 Steering Committee:
          ul
            li Prof. Sasu Tarkoma - University of Helsinki
            li Prof. Pan Hui - HKUST
            li Prof. Yong Li - Tsinghua University

          h2 Local Coordinators:
          ul
            li Ting Wu - HKUST
            li Shengkai Zhang - HKUST

          h2 Web Chair:
          ul
            li Kai Zhao - University of Helsinki

        section#venue
          h2 Airport transportation, bus taxi route to university:
          ol
            li By the Airport Express (AE). This service is a regularly recommended approach for visitors arriving into Hong Kong. You can find a route using MTR (public subway transportation) map (attached). The nearest MTR stations to HKUST are Hang Hau (to the south of HKUST, exit B1) and Choi Hung (to the west of HKUST, exit C1). You can then take mini-buses (11,11M or 11S, all having signs showing "HKUST" as the destination) from these MTR stations. The bus ride takes about 10-15 minutes.
            li By taxi. A taxi ride from the Hong Kong airport to HKUST goes all the way east, takes about 40 minutes, and costs around HK$350 (US$45).

          h2 University map:
          p UST location map, Campus map and IAS route map are attached.

          h2 Dinner places:
          p The lift map is attached to find the dinner place. In university, we usually have dinner in G/F Chinese Restaurant (recommended), LG1, LG5, LG7 and Cafe.

          h2 Hotels:
          p If you need hotel accommodations near HKUST, you can try Holiday Inn Kowloon East or Crowne Plaza Hong Kong Kowloon East. They are both above the MTR Tseung Kwan O station and you can take bus 792M directly outside the hotels to HKUST.