section#committee
  h2 Steering Committee & General Chairs:
  ul
    li
      strong Prof.&#32;
        a(href='http://www.cs.helsinki.fi/u/starkoma/') Sasu Tarkoma
      |  - University of Helsinki
    li
      strong Prof.&#32;
        a(href='http://www.cse.ust.hk/~panhui/') Pan Hui
      |  - HKUST
    li
      strong Prof.&#32;
        a(href='http://fi.ee.tsinghua.edu.cn/~liyong/') Yong Li
      |  - Tsinghua University

  h2 Organizing Chairs:
  ul
    li
      a(href='http://www.cs.helsinki.fi/u/yding/') Aaron Yi Ding
      |  - University of Helsinki
    li
      a(href='http://www.researchgate.net/profile/Jiaqiang_Liu3') Jiaqiang Liu
      |  - Tsinghua University

  h2 Local Coordinators:
  ul
    li
      a(href='http://www.researchgate.net/profile/Jiaqiang_Liu3') Jiaqiang Liu
      |  - Tsinghua University
    li
      a(href='https://scholar.google.com/citations?user=IzUjvBYAAAAJ&hl=zh-CN') Yujie Liu
      |  - Tsinghua University

  h2 Web Chair:
  ul
    li
      a(href='https://github.com/stieizc') Wenxin Wang
      |  - Tsinghua University