section#home
  h2 Tsinghua University, Beijing, 17th - 19th September 2015.

  p The 2nd Helsinki-HKUST-Tsinghua workshop on mobile big data and networking is a three-day workshop jointly organized by the University of Helsinki, Hong Kong University of Science and Technology, and Tsinghua University.
  p The workshop is intended to bring together professors, researchers and students to share ideas, experience and implementations related to mobile big data and networking, including big data analytics, mobile computing, urban computing, SDN, mobile offloading and 5G networks.

  #logos
    a(href='https://www.helsinki.fi/en')
      img(src='UH_logo.png', alt='Helsinki Logo')
    | &nbsp;
    a(href='http://www.ust.hk/')
      img(src='HKUST_logo.gif', alt='HKUST Logo')
    | &nbsp;
    a(href='http://www.tsinghua.edu.cn/publish/newthuen/index.html')
      img(src='THU_logo.png', alt='Tsinghua Logo')