section#venue
  h2 Airport Transportation to Hotel
  ol
    li By the Beijing Airport Express. Public Subway Transportation map is attached. The nearest subway station from Tsinghua is&#32;
      strong 五道口(Wu Dao Kou)
      |  on&#32;
      strong Line 13
      |. The fastest route is
      ol
        li Take the&#32;
          strong AE
          |  (the only subway at the airport), and get off at&#32;
          strong 三元桥(San Yuan Qiao)
        li Take&#32;
          strong Line 10
          |  to&#32;
          strong 知春路(Zhi Chun Lu)
        li Take&#32;
          strong Line 13
          |  to&#32;
          strong 五道口(Wu Dao Kou)
        li
          strong 文津酒店(Wenjin Hotel)
          |  will be within about 15 minutes walk.
    li By taxi. A taxi ride from the airport to Tsinghua goes all the way west.

  button Google Map
  #map
    iframe(src="")

  h2 Meeting location:
  p Room 5-206, Rohm Building, Tsinghua University.
  p Campus map is attached. The route is marked on the map above.

  h2 Hotels:
  p 文津酒店 (Wenjin Hotel). Haidian, Zhongguancun East Road, 1st Yard 1st Building(海淀，中关村，1号院5号楼). It may be clearer if you show the google map to the taxi driver.